<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<select id="listAll" resultType="BoardDTO" parameterType="hashmap">
		select num,title,author,content,image,
		to_char(writeday,'yyyy/MM/dd' ) writeday,readCnt
		from board
		<if test="searchName== 'title'">
			where title LIKE '%'||#{searchValue}||'%'
		</if>
	    <if test="searchName== 'author'">
	    	where author LIKE '%'||#{searchValue}||'%'
	    </if>
		order by num desc		
	</select>

	<insert id="write" parameterType="BoardDTO">
    	insert into board(num,title,author,content)
    	values(board_seq.nextval,#{title},#{author},#{content})
    </insert>
	
	<select id="selectByNum" parameterType="int" resultType="BoardDTO">
	   select num,title,author,image,content,
		to_char(writeday,'yyyy/MM/dd' ) writeday,readCnt
		from board
		where num =#{num}
	</select>
	
	<update id="readCnt" parameterType="int">
		update board
		set readCnt = readCnt + 1
		where num =#{num}
	</update>
	
	<delete id="deleteByNum" parameterType="int" >
		delete from board
		where num =#{num}
	</delete>
	
	<update id="updateByNum" parameterType="BoardDTO">
		update board
		set title =#{title} ,  
		    author =#{author} , 
		    content =#{content} 
		where num =#{num}
	</update>
</mapper>